<form id="searchForm" method="POST" action="{{ url_for('main.search_secrets') }}" class="row justify-content-center align-items-center p-1 my-2">
    {{ form.hidden_tag() }}
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-text bg-primary text-white">
                <i class="bi bi-search"></i>
            </span>
            {{ form.search }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-text bg-primary text-white">
                <i class="bi bi-calendar"></i>
            </span>
            {{ form.date_filter }}
        </div>
    </div>
    <div class="col-md-3 text-center">
        <button type="submit" name="filter_submit" class="btn btn-primary w-100 small" style="padding: 0.5rem ">
            <i class="bi bi-funnel"></i> Filter
        </button>
    </div>
</form>