{% if user_secrets %}
    {% for secret in user_secrets %}
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center secret-link" data-target="#secretDetails{{ secret.id }}" title="{{ secret.secret[:50] }}...">
            <span>{{ secret.title }}</span>
            <small>{{ secret.date }}</small>
        </a>
    {% endfor %}
{% else %}
    <div class="alert alert-info text-center w-100 mb-0" role="alert" style="max-width: 100%;">
        No secrets found.
    </div>
{% endif %}
