{% if shared_secrets %}
    <div class="d-flex flex-wrap justify-content-between">
        {% for shared in shared_secrets %}
            <a href="#"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center shared-secret-link mb-2 col-12 col-md-5"
                data-target="#sharedSecretDetails{{ shared.id }}"
                title="{{ shared.snapshot_secret[:50] if shared.snapshot_secret else (shared.secret.secret[:50] if shared.secret else '') }}">
                <span>
                    {{ shared.title or 'Untitled' }}
                </span>
                <small class="text-muted">
                    {% if shared.share_date %}
                        {{ shared.share_date.strftime('%d-%m-%Y') }}
                    {% elif shared.date_to_send and shared.time_to_send %}
                        {{ shared.date_to_send.strftime('%d-%m-%Y')}}
                    {% else %}
                        {{ shared.time_period.strftime('%d-%m-%Y') }}
                    {% endif %}
                </small>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info text-center w-100 mb-0" role="alert" style="max-width: 100%;">
        No shared secrets found.
    </div>
{% endif %}
