{% extends 'base.html' %}
{% block title %}Sign Up - Secure Secrets{% endblock %}
{% block styles %}
  <style>
    .registration-section {
      max-width: 450px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }
    .form-container {
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }

    .form-label, .form-check-label, .alert {
      font-size: 0.875rem; /* Smaller font size for form labels and headings */
    }

    h2 {
      font-size: 1.5rem;
    }

    .form-control, .form-check-input, button {
      font-size: 0.875rem; /* Smaller font size for form controls */
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 8px;
      box-shadow: none;
    }

    .btn-block {
      font-size: 1rem;
      padding: 8px;
    }

    .alert {
      font-size: 0.875rem; /* Smaller font for alert messages */
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <!-- Centered Logo -->
      <div class="text-center mb-4">
        <a href="{{ url_for('main.login') }}" class="d-inline-flex link-body-emphasis">
          <img src="{{ url_for('static', filename='assets/images/logoss.png') }}" style="width: 250px; height: 90px;">
        </a>
      </div>
      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center mt-3 alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}
      <div class="registration-section mx-auto mb-5">
        <!-- Form Heading -->
        <h2 class="text-center mb-4 heading">Sign Up</h2>
        <div class="form-container">
          <!-- Register Form -->
          <form id="register-form" method="POST" novalidate>
            {{ form.hidden_tag() }}
            
            <div class="mb-1">
              <label for="username" class="form-label">Username</label>
              {{ form.username(class="form-control form-control-sm", autocomplete="username", placeholder="Enter your username") }}
              {% for error in form.username.errors %}
                  <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            </div>
            
            <div class="mb-1">
                <label for="email" class="form-label">Email</label>
                {{ form.email(class="form-control form-control-sm", autocomplete="email", placeholder="Enter your email") }}
                {% for error in form.email.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="mb-1">
                <label for="password" class="form-label">Password</label>
                {{ form.password(class="form-control form-control-sm", placeholder="Enter your password") }}
                {% for error in form.password.errors %}
                    <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="mb-1">
              <label for="confirm_password" class="form-label">Confirm Password</label>
              {{ form.confirm_password(class="form-control form-control-sm", id="confirm_password", placeholder="Confirm your password") }}
              {% for error in form.confirm_password.errors %}
                  <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            </div>
            
            <!-- Phone Code and Phone Number Row -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="code" class="form-label">Country Code</label>
                    {{ form.code(class="form-control form-control-sm", id="code") }}
                    {% for error in form.code.errors %}
                      <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    {{ form.phone(class="form-control form-control-sm", id="phone_number", autocomplete="phone", placeholder="Enter your phone number") }}
                    {% for error in form.phone.errors %}
                      <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-check mb-4">
              {{ form.confirm_conditions(class="form-check-input", id="confirmConditionsCheck") }}
              <label class="form-check-label" for="confirmConditionsCheck">
                By accessing and using SecureSecrets, you agree to our <a href="{{ url_for('main.terms') }}" class="link-primary">Terms and Conditions</a>.
              </label>
              {% for error in form.confirm_conditions.errors %}
                <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-block w-75">Sign me up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
